/* ----------------- THEMES ----------------- */
@theme-blue-bg: linear-gradient(120deg, #007acc 0%, #00d4ff 100%);
@theme-blue-color: #fff;

@theme-white-bg: #fff;
@theme-white-color: #222;

@theme-dark-bg: #222;
@theme-dark-color: #eee;

@theme-info-bg: #1d9bef;
@theme-info-color: #fff;

@theme-danger-bg: #ef1d1d;
@theme-danger-color: #fff;

@theme-warning-bg: #efec1d;
@theme-warning-color: #222;

@theme-success-bg: #50A57E;
@theme-success-color: #222;

@theme-secondary-bg: #6c7981;
@theme-secondary-color: #fff;


/* ----------------- CONTAINER SIZES ----------------- */
@container-size-screen-base: 1600px;
@container-size-screen-1920: 1400px;
@container-size-screen-1440: 1240px;
@container-size-screen-1280: 1040px;
@container-size-screen-1080: 940px;
@container-size-screen-992: 85%;
@container-size-screen-768: 90%;
@container-size-screen-576: 95%;
@container-size-screen-375: 100%;