extends ./../../layouts/main

include ./../../components/button/button
include ./../../components/page-title/page-title

block content

    div.page__block.py-5(style="min-height: 100vh; display: grid; align-items: center;").theme--blue.text--dark
        div.page__container
            form.form(action="#" method="POST")
                +title('Авторизация', 'page-title--small text--center mx-auto')

                .form__group
                    label.form__label.form__label--required(for="email") Email
                    input.form__input(type="email" id="email" name="email" required)

                .form__group
                    label.form__label(for="password") Пароль
                    input.form__input(type="password" id="password" name="password" required)

                .form__group
                    +button('Войти', 'btn--upper btn--large btn--info text--center mt-2 py-2')