extends ./../layouts/main

block content

    div.page__block.py-5
        div.page__container
            +title("Заголовки", "page-title--animated")

            +title("Большой заголовок", "page-title--large")
            +title("Обычный заголовок")
            +title("Средний заголовок", "page-title--medium")
            +title("Маленький заголовок", "page-title--small")

    div.page__block.py-5
        div.page__container
            div
                +title("Кнопки", "page-title--animated")

                div.mt-2
                    +button('Press me', 'btn--rounded small btn--white')
                    +button('Press me', 'btn--circle small btn--dark')
                    +button('Press me', 'medium btn--info')
                    +button('Press me', 'btn--rounded medium btn--danger')
                    +button('Press me', 'btn--circle btn--warning')
                    +button('Press me', 'btn--success')
                    +button('Press me', 'btn--rounded large btn--secondary')
                    +button('Press me', 'btn--circle large btn--blue')

                div.mt-2
                    +button('Press me', 'btn--outline btn--rounded small btn--white')
                    +button('Press me', 'btn--outline btn--circle small btn--dark')
                    +button('Press me', 'btn--outline btn--info')
                    +button('Press me', 'btn--outline btn--rounded btn--danger')
                    +button('Press me', 'btn--outline btn--circle medium btn--warning')
                    +button('Press me', 'btn--outline medium btn--success')
                    +button('Press me', 'btn--outline btn--rounded large btn--secondary')
                    +button('Press me', 'btn--outline btn--circle large btn--blue')

                div.mt-2
                    +button('Press me', 'square small btn--white')
                    +button('Press me', 'square btn--info')
                    +button('Press me', 'square medium btn--dark')
                    +button('Press me', 'square large btn--danger')

                div.mt-2
                    +button('', 'square icon icon-github has-bg small btn--warning')
                    +button('', 'square icon icon-github has-bg btn--success')
                    +button('', 'square icon icon-github has-bg medium btn--secondary')
                    +button('', 'square icon icon-github has-bg large btn--blue')

    .page__block
        .page__container
            +title("Модальные окна", "page-title--animated mb-5")

            +modal('test-window', 'Удаление пользователя')
                block inner
                    p Вы подтверждаете удаление пользователя?

                block control
                    button(class="btn btn--secondary", data-modal-close='test-window') Отменить
                    button(class="btn btn--danger", data-modal-close='test-window') Удалить
            div
                button(class="btn btn--info btn--large", data-modal-open='test-window') Открыть модальное окно

    div.page__block.py-5
        div.page__container
            +title("Формы", "page-title--animated mb-5")

            div(style="display: grid; grid-template-columns: 1fr 1fr; justify-items: start;")
                div
                    +title("Светлая форма")

                    form.form(action="#" method="POST")
                        .form__group
                            label.form__label.form__label--required(for="name") Имя
                            input.form__input(type="text" id="name" name="name" required)
                            p.form__error.is-visible Поле обязательно для заполнения

                        .form__group
                            label.form__label(for="email") Email
                            input.form__input(type="email" id="email" name="email")

                        .form__group
                            label.form__label(for="message") Сообщение
                            textarea.form__textarea(id="message" name="message" placeholder="Напишите что-нибудь...")

                div
                    +title("Темная форма")

                    form.form.form--dark(action="#" method="POST")
                        .form__group
                            label.form__label.form__label--required(for="dark-name") Имя
                            input.form__input(type="text" id="dark-name" name="dark-name" required)
                            p.form__error.is-visible Поле обязательно для заполнения

                        .form__group
                            label.form__label(for="dark-email") Email
                            input.form__input(type="email" id="dark-email" name="dark-email")

                        .form__group
                            label.form__label(for="dark-message") Сообщение
                            textarea.form__textarea(id="dark-message" name="dark-message!" placeholder="Напишите что-нибудь...")