extends ./../layouts/main

block content
    .page__block.main-header.theme--blue.py-10
        .page__container.main-header__inner
            .main-header__info
                h1.main-header__name Максим Александрович Беляков
                p.main-header__jobname WEB-программист, Unity разработчик
                p.main-header__slogan Каждая задача - это новый вызов на моем пути

                div.main-header__control.mt-5
                    +button('Проекты', 'btn--white large text--upper rounded')
                    +button('Резюме', 'btn--white large text--upper rounded')

            img(class="main-header__image", src="/assets/images/profile.png", alt="Profile image")

    .page__block.py-5
        .page__container
            +title('Немного о себе', 'text--weight-2 text--right py-5')

            div.about-me
                img(class="about-me__image", src="/assets/images/goblin.png")

                div.about-me__text
                    p
                        | Меня зовут Максим Александрович Беляков.
                        | Я программист из Липецкой области, в направлении WEB-разработки.
                        | Каждый день я изучаю что-то новое и совершенствую свои навыки, пишу новые проекты и совершенствую старые.

                    p.pt-2
                        | В работе мне помогают мои профессиональные хобби - разработка игр на C# и Unity, дизайн сайтов и видеоигры.
                        | В разработке игр я каждый день узнаю что-либо новое, к примеру, паттерны проектирования или какой-либо новый алгоритм.
                        | Дизайн помогает мне делать красивые сайты, верстать великолепные сайты спонтанно.
                        | Времяпрепровождение за компьютерными играми позволяет не только расслабиться, но и взглянуть на игру с точки
                        | зрения программиста - "А как персонажи взаиодействуют?", "Как работает внутриигровая торговля" или же "Почему мне не удается пройти этот уровень...".
                        | Играя в игры очень часто хочется что-то сломать, чтобы получить игровое преимущество. Так я и научился тестированию.

                    p.pt-2
                        | Самое главное для меня - это непрерывное саморазвитие, непрерывное следование за мечтой и всегда иметь перед собой четко поставленную цель.

    .page__block.py-5
        .page__container
            +title('Лучшие проекты', 'text--weight-2 text--right py-5')


            .projects-carousel
                .project-list
                    a.project(href="#", data-index='1', data-modal-open="ProjectInfoModal")
                        p.project__title Unity Developer Toolkit
                        img(src='/assets/images/project_icon.png', alt='/assets/images/project_icon.png')

                    a.project(href="#", data-index='2', data-modal-open="ProjectInfoModal")
                        p.project__title Unity Developer Toolkit
                        img(src='/assets/images/project_icon.png', alt='/assets/images/project_icon.png')

                    a.project(href="#", data-index='3', data-modal-open="ProjectInfoModal")
                        p.project__title Unity Developer Toolkit
                        img(src='/assets/images/project_icon.png', alt='/assets/images/project_icon.png')

                    a.project(href="#", data-index='4', data-modal-open="ProjectInfoModal")
                        p.project__title Unity Developer Toolkit
                        img(src='/assets/images/project_icon.png', alt='/assets/images/project_icon.png')

                .carousel-indicators#indicators
                    button.indicator(data-index=1, aria-label=`Проект 1`)
                    button.indicator(data-index=2, aria-label=`Проект 2`)
                    button.indicator(data-index=3, aria-label=`Проект 3`)
                    button.indicator(data-index=4, aria-label=`Проект 4`)

                    button.carousel-arrow.carousel-arrow--left(data-target='btn-prev', aria-label='Предыдущий') ❮
                    button.carousel-arrow.carousel-arrow--right(data-target='btn-next', aria-label='Следующий') ❯

                +modal('ProjectInfoModal', 'Unity Developer Toolkit')
                    block inner
                        .tags
                            .tag Unity
                            .tag C#
                            .tag Git

                        p.mt-5
                            span.text--weight-4 Unity Developer Toolkit (UDT)
                            | - это набор инструментов для Unity разработчика который поможет
                            | ускорить процесс разработки через набор готовых скриптов, префабов и спрайтов. Теперь можно в пару нажатий
                            | обрабатывать столкновения, создавать счетчик, кошелек персонажа и другое.

                    block control
                        button(class="btn btn--secondary") Git
                        button(class="btn btn--info") Demo

    .page__block.py-5
        .page__container
            +title('Форма обратной связи', 'text--weight-2 text--center py-5')

            form.form(action="#" method="POST").feedback-form
                .form__group--flex
                    .form__group
                        label.form__label.form__label--required(for="name") Имя
                        input.form__input(type="text" id="name" name="name" required)
                        p.form__error.is-visible Поле обязательно для заполнения

                    .form__group
                        label.form__label.form__label--required(for="email") Email
                        input.form__input(type="email" id="email" name="email" required)

                .form__group
                    label.form__label(for="message") Сообщение
                    textarea.form__textarea(id="message" name="message" placeholder="Напишите что-нибудь...")

                .form__group
                    +button('Отправить', 'btn--info large', '#', 'submit')