.input-list
{
    display    : block;
    width      : 100%;
    min-height : 50px;
    background-color : #FAFAFA;
    box-shadow: 0 0 2px #22222266;
    padding: 15px;

    &__template
    {
        display : none;

        input
        {
            display : inline-block;
        }
    }

    &__titles
    {
        display         : flex;
        justify-content : space-around;
        margin-bottom   : 15px;
        padding-bottom: 10px;
        padding-right   : 65px;
        width           : 100%;
        gap             : 25px;
        border-bottom: 1px solid #DDD;

        p
        {
            width  : 100%;
            margin : 0;
        }
    }

    &__group
    {
        display     : flex;
        width       : 100%;
        gap         : 25px;
        align-items : center;

        & + &
        {
            margin-top : 25px;
        }
    }

    &__control
    {
        display         : flex;
        justify-content : flex-end;
        margin-top      : 25px;
    }
}