.modal
{
    padding: 50px;
    border-radius: 2px;
    background-color : #FFFFFF;
    max-width: 90%;
    max-height: 90%;
    min-width: 300px;

    position: fixed;
    left: -100%;
    transition: .5s;
    opacity: 1;
    animation-timing-function: linear;

    box-shadow: 0 0 4px #222;
    display: grid;
    grid-row-gap: 50px;

    @media (max-width: 480px)
    {
        grid-row-gap: 25px;
    }

    .modal__title
    {
        font-weight: 500;
        text-transform: uppercase;
    }

    &__wrapper
    {
        position: fixed;

        right: -100%;
        top: 0;
        width: 100%;
        height : 100%;

        background-color : #222222ee;

        z-index: 999;
        transition: .5s;

        opacity: 1;
    }

    & footer
    {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: right;
    }
}

.active.modal__wrapper
{
    right: 0;

    &>.modal
    {
        left: 0;
        opacity: 1;
    }
}