.sidebar-list
{
    display        : flex;
    flex-direction : column;

    &__sublist
    {
        position         : absolute;
        transition       : 0.2s;
        left             : 100%;
        top              : 0;
        width            : 0;
        height           : 100%;
        overflow         : hidden;
        box-shadow       : 2px 0 2px #000000;
        z-index          : 10;
    }

    & &
    {
        background-color : #222222EE;
    }

    &__expand
    {
        position : relative;

        &:hover > .sidebar-list__sublist
        {
            width    : 100%;
            overflow : visible;
        }
    }

    &__item
    {
        display         : grid;
        padding         : 15px 0 15px 25px;
        transition      : 0.2s;
        position        : relative;
        z-index         : 5;
        text-decoration : none;
        color           : #FFFFFF;

        &::before
        {
            content    : '';
            transition : 0.1s;
            position   : absolute;
            left       : 0;
            top        : 0;
            width      : 0;
            height     : 100%;
            background : #1D9BEF;
            z-index    : -5;
        }

        &:hover
        {
            padding-left     : 40px;
            background-color : #AAAAAA44;
        }

        &.active
        {
            padding-left : 40px;

            &::before
            {
                width : 100%;
            }
        }
    }
}