-var title = "WEB Project"

doctype
html
    head
        title #{title}

        link(rel="stylesheet" href="assets/css/main.css")
        link(rel="stylesheet" href="assets/css/components.css")

    body.page
        block content

        script(src="assets/scripts/script.js")