-var title = "WEB Project"

include ./../components/modal/modal
include ./../components/button/button
include ./../components/page-title/page-title

doctype
html
    head
        title #{title}

        link(rel="stylesheet" href="/assets/css/components.css")
        link(rel="stylesheet" href="/assets/css/main.css")

    body.page
        //- .page__block.main-navigation__wrapper
           .page__container.main-navigation
                a.main-navigation__logo
                    img(src="/assets/images/logo.png")

                nav.navbar.h-navbar.anim--blue-bg
                    a.navbar__link.active Главная
                    a.navbar__link Навыки
                    a.navbar__link Образование
                    a.navbar__link Портфолио

                .networks-line
                    a.networks-line__item.btn.square.icon.icon-github.has-bg
                    a.networks-line__item.btn.square.icon.icon-vk.has-bg
                    a.networks-line__item.btn.square.icon.icon-telegram.has-bg
                    a.networks-line__item.btn.square.icon.icon-gmail.has-bg

        block content

        .page__block.theme--dark.py-5
            .page__container
                +title('Контакты', 'text--weight-2 text--light page-title--animated my-5')

                div.flex.justify-content--between.align-items--center
                    .info
                        table
                            tr
                                td(width="100px").text--weight-4 Email:
                                td
                                    a(href="mailto:lancelot.ozernuy@gmail.com") lancelot.ozernuy@gmail.com
                            tr
                                td.text--weight-4 Телефон:
                                td
                                    a(href="tel:+79205201831") 8-920-520-18-31

                    .networks-line.gap-5
                        a.networks-line__item.btn.square.large.icon.icon-github.has-bg
                        a.networks-line__item.btn.square.large.icon.icon-vk.has-bg
                        a.networks-line__item.btn.square.large.icon.icon-telegram.has-bg
                        a.networks-line__item.btn.square.large.icon.icon-gmail.has-bg
        script(type="module", src="/assets/scripts/script.js")